<html>
<head>
    
    <title>Create your Blog Page</title>
    <link rel="stylesheet" href="../public/blog.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <script src="blog.js"></script>
    
    
</head>
<body>
    <!--NavBar-->
    <nav>
        <div class="nav-left">
            <img src="../public/brandred.png" alt="logo">
            <ul>
                <li>
                    <a href="/home" id="homepage">Home</a>
                </li>
                <li>
                    <a href="/add-blog">My Project</a>
                </li>
            </ul>
        </div>
        
        <div class="nav-right">
            <a href="/form">Contact Me</a>
        </div>        
    </nav>

    <!--blog-->
    <div class="blog">



        <!--Start blog form-->
        <div class="form-project">
            <h2>EDIT BLOGS</h2>



            <!--projectName-->
            <form action="/update-blog/{{index}}" method="post">
              <div class="form-title">
                <label for="projectName">Project Name</label>
                <input value="{{project.projectName}}" type="text" class="form-box" id="projectName" name="projectName">
              </div>



            <!--date-->
              <div class="form-date">
                <div class="date">
                  <div class="start-date">
                    <label for="startDate">Start Date</label>
                    <input type="Date" id="startDate" class="form-box" name="startDate" value="{{project.startDate}}">
                  </div>
                  <div class="end-date">
                    <label for="endDate">End Date</label>
                    <input type="Date" id="endDate" class="form-box" name="endDate" value="{{project.endDate}}">
                  </div>
                </div>
              </div>



            <!--Description-->
              <div class="form-desc">
                <label for="description" style="font-weight: bold;">Description</label>
                <textarea id="description" class="textarea-box" name="description">{{project.description}}</textarea>
              </div>
      


              <!-- Technologies -->
              <div class="form-tech" style="margin-bottom: 10px;">
                <label for="technologies">Technologies</label>
                <div class="tech">

                <!--left section tech-->
                  <div class="tech-left">
                    <div class="nodejs">
                      <input type="checkbox" id="nodejs"  name="nodejs" value="true" {{#if project.nodejs}} checked {{/if}} >
                      <label for="nodejs">Node JS</label>
                    </div>
                    <div class="reactjs">
                      <input type="checkbox" id="reactjs"  name="reactjs" value="true" {{#if project.reactjs}} checked {{/if}} >
                      <label for="reactjs">React JS</label>
                    </div>
                  </div>



                  <!-- right section tech -->
                  <div class="tech-right">
                    <div class="java">
                      <input type="checkbox" id="java"  name="java" value="true" {{#if project.java}} checked {{/if}}>
                      <label for="java">Java</label>
                    </div>
                    <div class="python">
                      <input type="checkbox" id="python"  name="python" value="true" {{#if project.python}} checked {{/if}}>
                      <label for="python">Python</label>
                    </div>
                  </div>
                </div>
              </div>
      


              <!--project img-->
              <div class="form-img" style="margin-bottom: 35px">
                <label for="image">Upload Image</label>
                <div class="input-image">
                  <label for="image">
                    <p>Choose</p>
                    <i class="fa-solid fa-paperclip"></i>
                  </label>
                  <input type="file" id="image" hidden="">
                </div>
              </div>



              <!--submit button-->
              <div class="btn-submit">
                <button class="button-submit" type="submit">Submit</button>
              </div>
            </form>
          </div>



        <!--end form-->




  
    </div>
</body>
</html>


